
.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 8px 16px;

}

.phrase{
  display: flex;
  flex-direction: column;  
}

.title{
  font-size: xx-large;
  font-weight: 600;
  color: var(--primary-text);
}
.subtitle{
  font-size: larger;
  font-weight: 300;
  color: var(--secondary-text);
}

.button{
  border-radius: 5px;
  padding: 16px 16px 16px 8px;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  background-color: var(--primary-blue);
}