.container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 8px 16px;


  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin: 16px;
}

.phrase{
  display: flex;
  flex-direction: column;  
}

.title{
  font-size: clamp(1.5rem, 4vw, 2rem); 
  font-weight: 600;
  color: var(--primary-text);
}
.subtitle{
  font-size: larger;
  font-weight: 300;
  color: var(--secondary-text);
}

.button{
  border-radius: 5px;
  padding: 16px 16px 16px 8px;
  border: none;
  font-size: 1rem; 
  font-weight: 600;
  color: #fff;
  background-color: var(--primary-blue);

  width: 100%;
  text-align: center;
}

/* Ajuste para Desktop */
@media (min-width: 600px) {
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .button {
    width: auto;
  }
}