.card{
  background-color: #fff;
  
  box-shadow: 0px 0px 2px #2b2b2b;
  gap: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1; 

  width: 100%; 
  min-width: 250px;
  border-radius: 10px;

  margin: 0; 
  padding: 32px;

}


/* Telas de tablet/desktop */
@media (min-width: 768px) {
  .card {
    width: 20%; 
    max-width: 300px;
  }
}


.info{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title{
  font-weight: 600;
  font-size: 1.2rem;
}
.value{
  font-weight: 700;
  font-size: 1.8rem;
}
.icon{
  width: 52px;
}