.card{
  background-color: #fff;
  
  box-shadow: 0px 0px 2px #2b2b2b;
  gap: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  min-width: 16%;
  border-radius: 10px;

  margin: 32px;
  padding: 32px;

}

.info{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title{
  font-weight: 600;
  font-size: 1.4rem;
}
.value{
  font-weight: 700;
  font-size: 2rem;
}
.icon{
  width: 52px;
}