.container{
  background-color: #fff;
  padding: 24px 16px;
  border: solid 2px var(--light-border);
  border-radius: 10px;
  margin: 0px 8px;
  display: flex;
  justify-content: space-between;

  width: auto;
  flex-wrap: wrap; 
  gap: 16px;
}

.searchContainer{
  border-radius: 10px;
  border: solid 2px var(--light-border);
  display: flex;
  align-items: center;
  padding: 1vh;
  gap: 0.5rem;

  flex-grow: 0.25;
  width: 100%;
}

.searchInput{
  font-size: 1rem;
  border: none;
  width: 100%;
}

.filtersContainer{
  display: flex;
  gap: 8px;
  margin-right: 10px; 
  overflow-x: auto; /*scroll horizontal nos botões se necessário */
  padding-bottom: 4px; /* Espaço para o scrollbar não colar */
  width: 100%;
  scrollbar-width: none; 
}

.filter {
  padding: 12px 30px;
  border: none;
  font-size: medium;
  border-radius: 20px;
  background-color: var(--light-bg-blue);
  color: #444444;
  width: fit-content;
  cursor: pointer;          /* Adicionado para melhor UX */
  transition: all 0.2s;     /* Adicionado para suavizar a troca de cor */
}

.filter:hover {
  filter: brightness(0.95); /* Efeito opcional de hover */
}

/* NOVA CLASSE PARA O BOTÃO ATIVO */
.active {
  background-color: var(--primary-indigo);
  color: #ffffff; /* Texto branco para contraste com indigo */
  font-weight: 600; /* Opcional: deixar negrito */
}

@media (min-width: 768px) {
  .searchContainer, .filtersContainer {
    width: auto;
  }
}