.header{
  display: flex;
  padding: 16px 24px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px -2px 8px rgb(49, 47, 47);
  margin-bottom: 8px;

}

.menu{
  width: 48px;
  height: 48px;
}

.title{
  text-align: center;
  font-size: x-large;
  font-weight: 600;
}